body {
  background: linear-gradient(to bottom, #04619f, #000000);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

#website_title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}

#text_recorded {
  width: 25%;
  border-radius: 20px;
  resize: none;
  padding: 0px;
  font-size: 25px;
  margin-top: 10px;
  text-align: center;
  overflow: hidden;
  background-color: white;
}

#whose_recorded {
  width: 100%;
  border-radius: 20px;
  resize: none;
  padding: 20px;
  font-size: 25px;
  margin-top: 10px;
  text-align: center;
  overflow: hidden;
  background-color: white;
}

.rec {
  color: green;
  height: 30px;
  width: 30px;
}

#ML {
  width: 25%;
  border-radius: 20px;
  resize: none;
  padding: 0px;
  font-size: 25px;
  margin-top: 10px;
  text-align: center;
  overflow: hidden;
  background-color: white;
}

#said_text {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  margin: 20px;
}

.btn {
  width: 5%;
  /* height: 90%; */
  position: relative;
}

.btn-danger {
  height: 40px;
  top: -35px;
}

.chroma {
  left: 200px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* .btn-danger {
  position: absolute;
  left: 50%; 
  /* transform: translateY(-100%);
  transform: translateX(10%);
  width: 5%;
  height: 5%;
  background-color: #c99ea600;
  border-color: #c9303087;
  border-radius: 0.7rem;
  font-size: 20px;
}   */

.recording_button {
  background-color: red;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  border-radius: 50%;
  padding: 15px;
  background-image: url("/static/assets/img/mic.jpg");
}

@keyframes pulsating {
  from {
    background-color: red;
  }
  to {
    background-color: transparent;
  }
}

.backDoor {
  background-color: #333;
  position: relative;
  width: 200px;
  height: 300px;
  margin: 0 auto;
  margin-top: 30px;
}

.door {
  background-image: url(../img/door.png);
  background-size: contain;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 300px;

  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.5s ease-in-out;
}

.doorOpen {
  /*prespectiv creates the door open effect*/
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px)
    rotateY(-105deg);
}
