<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="static/assets/css/style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Voice Recognition Password</title>
  </head>

  <body>
    <form method="post">
    <div>
      <h1 id="website_title">Voice Recognition Password</h1>
      <textarea id="text_recorded" disabled>{{speech}}</textarea>
      <!-- <textarea id="whose_recorded" disabled></textarea> -->
      <textarea id="ML" disabled>{{speaker}}</textarea>
      <div class="backDoor">
        <div class="door"></div>
      </div>
      <center>
        <!-- <button name="recording_icon"> -->
        <div id="said_text"></div>
        <!-- <input
          type="image"
          src="static/assets/img/mic.png"
          id="recording_button"
          width="40"
          height="40"
        /> -->
      <!-- </button> -->
      <button type="submit" class="btn btn-primary" id="recording_button" name="recording_icon"></button>
      </center>
    </div>
    </form>
    <script type="text/javascript" src="../static/assets/js/script.js"></script>
<!-- <form action = "http://localhost:5000/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form> -->
    <!-- init: function () {
                        if (null === myRecorder.objects.context) {
                            myRecorder.objects.context = new (
                                    window.AudioContext || window.webkitAudioContext
                                    );
                        }
                    },
                    start: function () {
                        var options = {audio: true, video: false};
                        navigator.mediaDevices.getUserMedia(options).then(function (stream) {
                            myRecorder.objects.stream = stream;
                            myRecorder.objects.recorder = new Recorder(
                                    myRecorder.objects.context.createMediaStreamSource(stream),
                                    {numChannels: 1}
                            );
                            myRecorder.objects.recorder.record();
                        }).catch(function (err) {});
                    },
                    stop: function (listObject) {
                        if (null !== myRecorder.objects.stream) {
                            myRecorder.objects.stream.getAudioTracks()[0].stop();
                        }
                        if (null !== myRecorder.objects.recorder) {
                            myRecorder.objects.recorder.stop(); -->
  </body>
</html>

<!-- ------------------------------------------------------------------------------- -->
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/speech-commands@0.4.0/dist/speech-commands.min.js"></script>
