<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="static/assets/css/style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Voice Recognition Password</title>
  </head>

  <body>
    <div>
      <h1 id="website_title">Voice Recognition Password</h1>
      <textarea id="text_recorded" disabled></textarea>
      <div class="backDoor">
        <div class="door"></div>
      </div>
      <center>
        <div id="said_text"></div>
        <input
          type="image"
          src="static/assets/img/mic.png"
          id="recording_button"
          width="40"
          height="40"
        />
      </center>
    </div>
    <script type="text/javascript" src="static/assets/js/script.js"></script>
  </body>
</html>
